apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: rani19/gogo-main-frontend:latest  # משתמש בתמונה שלך ב-Docker Hub
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_URL
              value: "http://backend:5000/api"
