apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: dr-region
  labels:
    app: frontend
    region: dr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      region: dr
  template:
    metadata:
      labels:
        app: frontend
        region: dr
    spec:
      containers:
        - name: frontend
          image: rani19/gogo-main-frontend:latest
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_URL
              value: "http://backend:5000/api"  # הפנייה ל־backend בתוך אותו namespace
